# SERVER
fastapi
starlette
uvicorn
python-multipart
pydantic[email,dotenv]

# SERVER UTILS
fastapi-mail
fastapi-utils
requests

# DB
ZODB
persistent
Faker
Unidecode
shortuuid

# PASS
python-jose[cryptography]
passlib[bcrypt]

# UTILS
python-dotenv
python-dateutil
tqdm
dependency-injector

# TESTING
coverage
autologging
behave

# SERVICES
stripe
twilio
git+https://gitea.ksol.io/karolyi/py3-validate-email@v1.0.9
phonenumbers
PyGithub
pycountry
countryinfo
imap-tools
