{% include "HEAD_DANGER.html" %}

<h2>
    Drugi in četrti odstavek 143. člen Kazenskega zakonika (KZ-1-NPB4)
</h2>

<p>
    Kdor prevzame identiteto druge osebe ali z obdelavo njenih osebnih podatkov<br>
    izkorišča njene pravice, si na njen račun pridobiva premoženjsko ali<br>
    nepremoženjsko korist ali prizadene njeno osebno dostojanstvo,<br>
    se kaznuje z zaporom od treh mesecev do treh let.<br>
</p>

<p>
    Enako se kaznuje, kdor vdre ali nepooblaščeno vstopi v<br>
    računalniško vodeno zbirko podatkov z namenom,<br>
    da bi sebi ali komu drugemu pridobil<br>
    kakšen osebni podatek.<br>
</p>

<br>
<h4>Ustavni zakon RS.</h4>

{% include "FOOT.html" %}
